<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment List</title>
</head>

<body>
    <h1>This is Comment List</h1>
    <ul>
        <% for(comment of list){ %>
            <li>
                <%= comment.username %>:
                    <%= comment.comment %>
                        <a href="/comment/<%= comment.id %>">detail</a>
                        <a href="/comment/<%= comment.id %>/edit">edit</a>
            </li>
            <% } %>
    </ul>
    <a href="/comment/new">Add new comment</a>
</body>

</html>