body {
    font-family: 'Mochiy Pop P One', sans-serif;
}

nav {
    font-size: 1em;
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0;
    /* border: 1px solid white; */
    max-width: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    nav,
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}