<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new farm</title>
</head>

<body>
    <h1>Add new farm</h1>
    <form action="/farms" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" placeholder="Farm name">
        <label for="location">Location: </label>
        <input type="text" name="location" id="location" placeholder="Location">

        <button>Submit</button>
    </form>
    <a href="/farms">Cancel</a>
</body>

</html>