<%- include('partials/head')%>

    <body>
        <%- include('partials/navBar') %>
            <h1>This is home page</h1>
            <button class="btn btn-primary">click</button>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At reprehenderit inventore soluta ab nesciunt deleniti provident, tempora magnam aut animi corrupti explicabo reiciendis, nam qui quisquam, fuga nisi exercitationem quas. Facilis adipisci
                aliquid temporibus, accusamus accusantium debitis ducimus ipsam officiis! Deserunt mollitia unde asperiores vel. Nisi qui iure possimus sunt iste, tempora suscipit earum aliquam quisquam, delectus, illum minus dolores. Perferendis voluptatibus
                autem dicta harum voluptate fugiat ad labore, assumenda, a id repellat, vero deleniti quibusdam! Labore iure, ab modi quia rem cupiditate reprehenderit dolores similique exercitationem adipisci molestiae non?</p>
    </body>

    </html>